body{
    background: url("../img/bg.jpg");
}

#header{
    /*margin-top: 10px;*/
    height:50px;
    /*background-color: #373277;*/
    line-height: 50px;
    font-size:17px;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background: url("../img/bg.jpg");
}
#logo{
    position: relative;
    float: left;
}
#header img{
     border-radius: 33px;
     width:55px;
     height: 55px;
     background-size: 50px 50px;
     display:block;
 }
#quick-list{
    /*display: inline-block;*/
    margin-right: auto !important;
}

#header li{
    /*font-weight: bold;*/
    position: relative;
    display: block;
    float: left;
    padding: 0 14px;
}
#quick-list .submenu{
     position:absolute;
    top:50px;
    left:-1px;
    width:98px;
    border-style:solid;
    border-color:#000;
    boeder-width:0 1px 1px 1px;
    /*padding:0 14px;*/
    display:none;
    background-color: #000;
    text-align: center;
    /*color:#000;*/
 }
#quick-list .submenu li{
    height:30px;
    text-align: center;
    line-height: 30px;
}
#quick-list .menu:hover{
    background-color: #000;
}
#quick-list .menu:hover .submenu{
    display: block;
}
#quick-list .submenu a:hover{
    color: #fff;
}
#header a{
    /*opacity: 0.8;*/
    color: #c5d0df;
}
#header a:hover{
    color: #fff;
}
#search-in{
    padding: 0 14px;
    height:45px;
    float: left;
    border-bottom: 1px solid #c5d0df;
}
#search-input .search-tool{
    position: relative;
    display:inline-block;
    direction: ltr;/*默认值*/
    margin: 0;
    padding:0;
    border:none;
    outline:0;
    font-weight:inherit;
    font-size: 100%;
    vertical-align: baseline;
}
#search-input{
    background: 0 0;
    font-size: inherit;/*继承*/
    color: #fff;
    outline: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#log-in{
    position: relative;
    float:right;

}
#show{
    height: 400px;
    /*width:100px;*/
    /*padding-top: 100px;*/
/*background: url("../img/ztai.jpg");*/
    color:#c5d0df ;
}
#show img{
    width:1519px;
    height:390px ;
}
#show p{
    padding: 70px 30px 0 60px;
    text-align: center;
    font-size: 45px;
    /*font-family: Vani,"叶根友毛笔行书2.0版";*/
    font-family: "方正兰亭超细黑简体";
}
#connect{
    background-color: #ddd;
    height:80px;
}
#view-wall{
    height: 600px;
    background-color: #fff;
}
#menu{
    width:120px;
    border: 1px solid;
    position:absolute;
    background-color: #fff;
    display: none;
}
#menu li{
    width:120px;
    height:30px;
    list-style: none;
    text-align: center;
    line-height: 30px;
    border-bottom:1px dashed #ccc;
    cursor:pointer;
}
#menu li:last-child{
    border-bottom: none;
}
#menu li:hover{
    background-color: #20549f;
}


